<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">Gestione account</div>					
    </div>
    <div class="main_content_scroll mCustomScrollbar">                    
        <span>Da questa pagina è possibile gestire gli account di tutti gli operatori di tutti i punti vendita.</span>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <span class="col-sm-7">Selezionare la città:</span>
                    <select class="col-sm-5" id="AccountsSelectCity" onchange="getStores(this);"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <span class="col-sm-7">Selezionare il punto vendita:</span>
                    <select class="col-sm-5" id="AccountsSelectStore"></select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="simple-button" onclick="searchAccounts();">Cerca account</div>
</div>