<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">Gestione account</div>					
    </div>
    <div class="main_content_scroll mCustomScrollbar">                    
        <span>Da questa pagina è possibile gestire gli account di tutti gli operatori di tutti i punti vendita.</span>
    </div>
    <br>
    <div id="ManageAccountContainer">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <span class="col-sm-6">Selezionare la città:</span>
                    <div class="col-sm-6 row" id="SelectCityContainer">
                        <select id="AccountsSelectCity" class="col-sm-12" onchange="getStores(this);"></select>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div id="SelectStoreContainer" class="col-sm-8"></div>
        </div>
        <div class="">
            <table class="table mt-3" id="EmployeesTable"></table>
        </div>
    </div>
    <br>
    <div class="simple-button" onclick="searchAccounts();">Cerca account</div>
</div>