<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">Gestione account</div>					
    </div>
    <div class="main_content_scroll mCustomScrollbar">                    
        <span>Da questa pagina è possibile gestire gli account di tutti i dipendenti dei punti vendita in tutta Italia.</span><br>
        <span>Utilizzare i menù a tendina per selezionare uno specifico punto vendita o per selezionarli tutti.</span><br>
        <span>Tramite i pulsanti presenti nella tabella è possibile modificare, eliminare o creare gli account dei dipendenti.</span>
    </div>
    <br>
    <div id="ManageAccountContainer">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <span class="col-sm-6">Selezionare la città:</span>
                    <div class="col-sm-6 row" id="SelectCityContainer">
                        <select id="AccountsSelectCity" class="col-sm-12" onchange="getStores(this);"></select>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div id="SelectStoreContainer" class="col-sm-8"></div>
        </div>
        <div class="mt-3" id="EmployeesTableContainer">
        </div>
    </div>
    <br>
    <div class="simple-button" onclick="searchAccounts();">Cerca account</div>
</div>