<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">Prenotazioni film in uscita</div>					
</div>
<div class="main_content_scroll mCustomScrollbar">                    
    <span>La seguente tabella contiene tutti i film in uscita o già usciti ma ancora nel periodo di validità delle prenotazioni.</span><br>
    <span>Per effettuare prenotazioni, selezionare un film dalla tabella e premere su "Prenota film", dopodiché inserire la matricola del cliente.</span><br>
    <span>Per visualizzare le prenotazioni effettuate per quel particolare film, premere su "Visualizza prenotazioni".</span>
</div>
<br>
<div id="BookingsTableContainer" class="mt-5"></div>
