<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">Home</div>					
    </div>
    <div class="main_content_scroll mCustomScrollbar">                    
        <span>Questa è la home del gestionale</span>
    </div>
    <div class="main_content_scroll mCustomScrollbar">                    
        <span id="ComingSoonMoviesAlert"></span>
    </div>
    <!-- <div class="main_content_scroll mCustomScrollbar">                    
        <span >ATTENZIONE! Il video {placeholder} noleggiato dal cliente {placeholder} deve essere riconsegnato al fornitore tra {placeholder} giorni.</span>
    </div> -->
</div>