<!-- <script src="/js/view-login.js" type="module"></script> -->
<script>var my_awesome_script = document.createElement('script');

  my_awesome_script.setAttribute('src','/js/view-login.js');
  my_awesome_script.setAttribute('type','module');
  
  document.head.appendChild(my_awesome_script);</script>
<form id="LoginForm" class="form-signin">
    <img class="mb-2" src="images/rentnet-logo.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Effettuare l'accesso</h1>
    <label for="inputEmail" class="sr-only">Indirizzo email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block border-purple-override bg-purple-override" type="submit">Entra</button>
  </form>