<form id="LoginForm" class="form-signin">
    <img class="mb-2" src="images/rentnet-logo.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Effettuare l'accesso</h1>
    <label for="InputUsername" class="sr-only">Username</label>
    <input type="email" id="InputUsername" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="InputPassword" class="sr-only">Password</label>
    <input type="password" id="InputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block border-purple-override bg-purple-override" onclick="login(this); return false;">Entra</button>
</form>