<script></script>
<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
    <div class="main_subtitle">Restituzione noleggi</div>					
</div>
<div class="main_content_scroll mCustomScrollbar">                    
    <span>Inserire la matricola del cliente e selezionare i film da restiture.</span>
</div>
<br>
<form>
    <div id="" class="row px-3">
        <input id="RestituionCustomerIdInput" type="number" class="form-control col-sm-8" placeholder="Inserire la matricola del cliente" required>
        <button class="btn btn-dark ml-3" type="button" onclick="findRentedCopiesForUser(this);">Cerca cliente</button>
    </div>
</form>
<div id="RentedCopiesTableContainer"></div>
