<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
    <div>
        <div id="TopLeftImage" class="general_info_image">
            <div class="background_image" style="background-image:url(images/logo.jpg)"></div>
        </div>
    </div>
    <div class="general_info_content">
        <div id="SidebarDetails" class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
            <!-- <span id="SidebarUsername" class="general_info_title"></span>
            <div class="simple-button" onclick="logout();">Logout</div>
            <ul class="general_info_list">
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_2.png" alt=""></div>
                    <div class="general_info_text">Punto vendita: <span>August 25, 1991</span></div>
                </li>
            </ul> -->

            <!-- Social -->
            <div class="social_container">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>