.bg-purple-override 
{
    background-color: #8583e1!important;
}

.border-purple-override
{
    border: #8583e1!important;
}

.form-control::placeholder
{
    font-style: italic;
    opacity: 0.3;
}

.loader-spinner {
    margin: 0 auto;
}

.errorSpan {
    display: none;
    color: #ff0000;
}

.simple-button {
    background-color: #100F3A;
    font-size: 10px;
    color: #fff;
    display: table;
    padding: 10px;
    cursor: pointer;
}

.simple-button:hover {
    background-color: #8583e1;
}

.simple-button-cancel {
    background-color: #EEEEEE;
    color: #000;
}

.simple-button-small {
    padding: 5px 0 5px 0!important;
}

#ContentZone0 {
    background-color: #f5f0f0;
    height: auto!important;
    padding-bottom: 30px;
}

#TopLeftImage {
    max-height: 200px;
}

#LoginForm 
{
    margin: 80px auto;
    max-width: 400px;
    text-align: center;
}

#LoginForm input {
    text-align: center;
}

#LoginForm button 
{
    margin-top: 20px;
}

#SidebarDelega {
    font-size: 12px;
}

td.more-details {
    background: url('../images/details_open.png') no-repeat center;
    cursor: pointer;
}
tr.shown td.more-details {
    background: url('/images/details_close.png') no-repeat center;
}