.bg-purple-override 
{
    background-color: #8583e1!important;
}

.border-purple-override
{
    border: #8583e1!important;
}

#ContentZone0 {
    background-color: #f5f0f0;
}

#TopLeftImage {
    max-height: 200px;
}

#LoginForm 
{
    margin: 80px auto;
    max-width: 400px;
    text-align: center;
}

#LoginForm input {
    text-align: center;
}

#LoginForm button 
{
    margin-top: 20px;
}

.spinner-loader {
    background-color: #8583e1;
    opacity: 0,5;
    position: fixed;
    z-index: 9999;
}

.errorSpan {
    display: none;
    color: #ff0000;
}